@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #feafc3;
    color: #2D3440;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* * button */

.button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #2D3440;
    cursor: pointer;
}

.button-main {
    display: inline-block;
    border: 4px solid #f7cad6;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    background-color: #fcfcfc;
}

.button-second {
    border: 4px solid #f7cad6;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    color: #fcfcfc;
    background-color: #ff2f64;
}

.button-filters {
    width: 187px;
    height: 36px;
    border: 2px solid #fcfcfc;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3);

    font-size: 14px;
    font-weight: 700;
    line-height: px;
}

/* * width and height for button */

.button-order {
    width: 139px;
    height: 44px;
    line-height: 44px;
}

.button-more {
    width: 179px;
    height: 44px;
}

.button-presents {
    width: 176px;
    height: 44px;
    line-height: 44px;
}

.button-submit {
    width: 152px;
    height: 44px;
}

.button-contacts {
    width: 250px;
    height: 46px;
}

.button-cart {
    width: 32px;
    height: 32px;
    justify-self: end;
}


.main-container {
    flex-grow: 1;
}

.social-links {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 104px;
    list-style-type: none;

}

.social-links-item {
    min-width: 24px;
    min-height: 24px;
}

/* * header */

.page-header {
    padding: 24px 0;
}

.logo {
    margin-right: 16px;
}

.site-navigation {
    display: flex;
    width: 1170px;
    color: #2D3440;
    margin: 0 auto;
    line-height: 0;
}

.site-navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 570px;
    list-style-type: none;
}

.site-navigation-link {
    display: block;
    color: inherit;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 28px 16px 28px 16px;
}

.site-navigation-current {
    background-color: #FF4A78;
    border-radius: 26px;
    padding: 8px 16px 8px 16px;
    color: #fcfcfc;
    text-decoration: none;
}

.site-navigation-user {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    column-gap: 16px;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 450px;
    margin-left: auto;
    list-style-type: none;
}


.site-navigation-search {
    width: 32px;
    height: 32px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 50%;
}

.site-navigation-phone {
    font-weight: 700;
    margin-right: 2px;
}

.site-navigation-enter,
.site-navigation-cart,
.site-navigation-full-cart {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 26px;
    padding: 6px 18px 6px 18px;
    color: #2D3440;
}

.site-navigation-enter {
    min-width: 92px;
    min-height: 32px;
}

.site-navigation-cart {
    min-width: 97px;
    min-height: 32px;
}

.site-navigation-full-cart {
    min-width: 117px;
    min-height: 32px;
}

/* * main */

.container {
    width: 1170px;
    margin: 0 auto;
}

.page-main {
    padding-top: 21px;
}

.main-inner {
    padding-top: 32px;
    padding-bottom: 40px;
}

/* .promo {} */

.promo {
    margin-bottom: 106px;
}

.promo-title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
}

.promo-text {
    margin: 0;
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.slider-controls {
    min-width: 52px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* .presents {} */

.presents {
    margin-bottom: 80px;
}

.presents-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.presents-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    grid-template-rows: 40px auto auto auto 40px;
    box-sizing: border-box;
    padding: 0 0 0 40px;
    width: 570px;
}

.presents-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
}

.presents-item {
    background-color: #ff7799;
    border-radius: 16px;
}

.presents-item-caption {
    grid-column: 1 / span 4;
    grid-row: 2;
    z-index: 1;
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.presents-item-description {
    grid-column: 1 / span 4;
    grid-row: 3;
    z-index: 1;
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
}

.presents-item a {
    grid-column: 1 / span 4;
    grid-row: 4;
    z-index: 1;
}

.presents-item img {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    justify-self: end;
    align-self: end;
    z-index: 0;
    margin-right: 15px;
}


/* .catalog {} */

.catalog {
    margin-bottom: 80px;
}

.catalog-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
    list-style-type: none;
}

.catalog-item {
    position: relative;
    width: 270px;
    margin-top: 51px;
}


.catalog-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
}

.catalog-img {
    position: absolute;
    top: -51px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.catalog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133px 40px 24px 40px;
    background-color: #fcfcfc;
    border-radius: 8px;
}

.catalog-item-caption {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.catalog-item-description {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 20px;
    color: #565C66;
    font-weight: 400;
    text-align: center;
}

.catalog-item-price {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.catalog-item-cart {
    align-self: end;
}

.features {
    background-color: #efe3cb;
    background-image: url("../img/features/wafer.png");
    background-repeat: no-repeat;
    background-color: 100% auto;
    object-fit: cover;
    padding: 24px;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.features-content {
    padding: 56px 40px 56px 40px;
    background-color: #fcfcfc;
    border-radius: 16px;
}

.features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features-item {
    width: 506px;
}

.features-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
}

.features-text {
    margin: 0;
    font-weight: 400;
    color: #565C66;
}

/* index-columns */

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.news {
    display: flex;
    flex-direction: column;
    width: 570px;
    background-color: #ffffff;
    background-image: url("../img/article.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    border-radius: 16px;
}

.news h2 {
    order: 1;
    margin: 0;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.news p {
    margin: 0;
    padding-left: 32px;
    padding-top: 32px;
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
}

.mailing {
    width: 570px;
    background-color: #ffffff;
    background-image: url("../img/mailing.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    padding: 6px;
    border-radius: 16px;
}


.mailing-content {
    padding: 26px;
    background-color: #fcfcfc;
    border-radius: 16px;
}

.mailing-text {
    margin: 0;
    margin-bottom: 42px;
    font-weight: 400;
    color: #565C66;
}

.mailing-form {
    display: grid;
    grid-template-columns: 332px auto;
    column-gap: 24px;
}

.mailing-form button {
    justify-self: end;
}

.mailing-form-email {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.mailing-email {
    padding: 14px 16px 14px 16px;
    font-weight: 400;
    color: #b9b9b9;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    border-radius: 4px;
}

.feedback {
    margin-bottom: 80px;
    background-image: url("../img/feedback.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    border-radius: 16px;
}

.feedback-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    grid-template-rows: repeat(2, auto);
    padding: 64px 0;
}

.feedback-title {
    grid-column: 2 / 6;
    align-self: end;
    margin: 0;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
}

.feedback-text {
    grid-column: 2 / 6;
    margin: 0;
    font-weight: 400;
    color: #565C66;
}

.feedback-form {
    grid-column: 7 / -1;
    grid-row: 1 / -1;
    margin-left: 6px;
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 16px;
    width: 500px;
    padding: 40px 40px 42px 40px;
    box-sizing: border-box;
    background-color: #fcfcfc;
    box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
;
    border-radius: 8px;
}

.feedback-form-text {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    color: #565C66;
}

.field-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: none;
}

.field-group input {
    padding: 14px 16px;
    border-radius: 4px;
    color: #2D3440;
    border: 1px solid #B9B9B9;
    box-sizing: border-box;
}


.feedback-form-phone {
    box-sizing: border-box;
}

.feedback-form-address {
    grid-column: 1 / -1;
}

.feedback-label {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 20px;
}

.button-feedback {
    grid-column: 1 / -1;
    margin: 0 auto;
    align-self: end;
}

.contacts {
    padding-top: 64px;
    padding-left: 64px;
    padding-bottom: 64px;
    background-image: url("../img/contacts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.contacts-content {
    width: 343px;
    box-sizing: border-box;
    padding: 40px;
    background: #fcfcfc;
    box-shadow: 0px 8px 16px 0px #2D34401F;
    border-radius: 8px;
}

.contacts-content dl {
    margin: 0;
    margin-bottom: 32px;
}

.contacts-dt {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    color: #565C66;

}

.contacts-dd {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.contacts-dd address {
    margin-bottom: 24px;
    font-style: normal;
}

.contacts-dd a {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
    color: inherit;
}

.contacts-dd span {
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
}


/* .page-footer {} */

.footer-container {
    padding: 48px 0;
    display: flex;
}

.certificates {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, min-content);
    gap: 8px 24px;
    line-height: 20px;
}

.certificates-title {
    margin: 0;
    font-size: 14px;
}

.certificates-title b {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.certificates-text {
    margin: 0;
    font-size: 14px;
}

.social-links-footer {
    margin-right: auto;
}

.creator {
    margin-left: auto;
    /* width: 193px; */
    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 14px;
}

.creator-link {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}

.logo-htmlacademy {
    line-height: 0;
}

.htmlacademy-link {
    margin: 0;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #2D3440;
}


/* * Страница Каталога */

.catalog-columns {
    display: flex;
    flex-direction: column;
}

.title-creamy {
    margin: 0;
    margin-bottom: 40px;
}

.breadcrumbs-header {
    display: flex;
    flex-direction: column;
}

.breadcrumbs-header h1 {
    margin: 0;
    margin-bottom: 40px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    width: 250px;
    order: -1;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.breadcrumbs-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    color: #2D3440;
}

.breadcrumbs-item a {
    border-bottom: 1px solid #2D3440;
}

.filters {
    margin: 0;
    margin-bottom: 48px;
    width: 807px;
}

.filters-form-group {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
}

.filters-sort {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2D3440;
}

.catalog-card {
    margin-bottom: 16px;
}

.pagination {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 41px 0;
}

.pagination-list {
    width: 202px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-left: 300px;
    padding: 0;
    list-style-type: none;
}

.pagination-prev {
    margin-right: 16px;
}

.pagination-next{
    margin-left: 16px;
}

.pagination-item {
    min-width: 24px;
    min-height: 24px;
    text-align: center;
}

.pagination-link {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.pagination-active {
    background-color: #fcfcfc;
    border-radius: 50%;
}
