@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inter-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inter-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/inter-900.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #feafc3;
    color: #2d3440;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* * button */

.button {
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    color: #2d3440;
    cursor: pointer;
}

.button-main {
    display: inline-block;
    border: 4px solid #f7cad6;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    background-color: #fcfcfc;
}

.button-main:hover {
    background-color: rgba(252, 252, 252, 0.4);
    border: 4px solid #fcfcfc;
}

.button-main:focus {
    outline-style: none;
    background-color: #fcfcfc;
    border: 2px solid #2d3440;
}

.button-second {
    border: 4px solid #f7cad6;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 26px;
    color: #fcfcfc;
    background-color: #ff2f64;
}

.button-second:hover {
    background-color: #fcfcfc;
    border: 4px solid #ff2f64;
    color: #2d3440 ;
}

.button-second:focus {
    background-color: #ff2f64;
    border: 2px solid #2d3440;
    color: #fcfcfc;
}

.button-filters {
    width: 187px;
    height: 36px;
    border: 2px solid #fcfcfc;
    box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
    border-radius: 20px;
    background-color: rgba(252, 252, 252, 0.3);
    font-size: 14px;
    font-weight: 700;
    line-height: px;
}

.button-filters:hover {
    background-color: #fcfcfc;
    border: 2px solid #f7cad6;
}

.button-filters:focus {
    border: 2px solid #2d3440;
    background-color: rgba(252, 252, 252, 0.3);
}

.button-order {
    min-width: 139px;
    min-height: 44px;
    line-height: 44px;
}

.button-more {
    width: 179px;
    height: 44px;
}

.button-presents {
    width: 176px;
    height: 44px;
    line-height: 44px;
}

.button-submit {
    width: 152px;
    height: 44px;
}

.button-contacts {
    width: 250px;
    height: 46px;
}

.button-cart {
    position: relative;
    width: 32px;
    height: 32px;
    justify-self: end;
    border-style: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ff2f64;
}

.button-cart-icon {
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    fill: #fcfcfc;
}

.button-cart:hover {
    background-color: #fcfcfc;
    border: 2px solid #ff2f64;
}

.button-cart:hover .button-cart-icon{
    fill: #2d3440;
}

/* .button-cart svg:hover {
    fill: #2d3440;
} */

.button-cart:focus {
    background-color: #ff2f64;
    border: 2px solid #2d3440;
}



.main-container {
    flex-grow: 1;
}

.social-links {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 104px;
    list-style-type: none;
}

.social-links-item {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-color: transparent;
}

.social-icon {
    border-radius: 50%;
    border: 2px solid rgba(252, 252, 252, 0.2);
    fill: #fcfcfc;
    box-sizing: border-box;
}

.social-icon:hover {
    fill: #2d3440;
}
.social-icon:focus {
    fill: #2d3440;
    border: 2px solid #2d3440;
}


/* * header */

.page-header {
    padding: 24px 0;
}

.logo {
    margin-right: 16px;
}

.site-navigation {
    display: flex;
    width: 1170px;
    color: #2d3440;
    margin: 0 auto;
    line-height: 0;
}

.site-navigation-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 570px;
    list-style-type: none;
}

.site-navigation-link {
    display: block;
    color: inherit;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 16px 14px 16px 14px;
    border-radius: 26px;
    border: 2px solid rgba(252, 252, 252, 0);
}

.site-navigation-link:hover {
    background-color: rgba(252, 252, 252, 0.3);
}

.site-navigation-link:focus {
    outline-style: none;
    border: 2px solid #2d3440;
    background-color: rgba(252, 252, 252, 0.3);
}

.site-navigation-link:active {
    background-color: #fcfcfc;
}

.site-navigation-active {
    background-color: #ff4a78;
    display: block;
    color: #fcfcfc;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 16px 14px 16px 14px;
    border-radius: 26px;
    border: 2px solid rgba(252, 252, 252, 0);
}

.site-navigation-active:hover {
    background-color: rgba(252, 252, 252, 0.3);
    color: #2d3440;
}

.site-navigation-active:focus {
    outline-style: none;
    border: 2px solid #2d3440;
    background-color: rgba(252, 252, 252, 0.3);
    color: #2d3440;
}

.site-navigation-active:active {
    background-color: #fcfcfc;
}

.site-navigation-user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    min-width: 470px;
    margin-left: auto;
    list-style-type: none;
}

.site-navigation-user li:not(:last-child) {
    margin-right: 16px;
}

.site-navigation-phone {
    display: inline-block;
    font-weight: 700;
    margin-right: 2px;
}

.site-navigation-phone:hover {
    background-color: rgba(252, 252, 252, 0.3);
}

.site-navigation-phone:focus {
    outline-style: none;
    border: 2px solid #2d3440;
    background-color: rgba(252, 252, 252, 0.3);
}

.site-navigation-phone:active {
    background-color: #fcfcfc;
    border-color: none;
}

.site-navigation-search {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 50%;
    box-sizing: border-box;
    border-style: none
}

.site-navigation-search::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 18px;
    height: 18px;
    background-image: url("../img/link-user/search.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.site-navigation-search:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.site-navigation-search:active {
    background-color: #fcfcfc;
    /* border: none; */
}

.site-navigation-search:focus {
    outline-style: none;
    border: 2px solid #2d3440;
}

.site-navigation-enter,
.site-navigation-cart {
    position: relative;
    display: inline-block;
    padding: 4px 14px 4px 38px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(252, 252, 252, 0.3);
    border-radius: 26px;
    color: #2d3440;
    border: 2px solid rgba(252, 252, 252, 0);
}

.site-navigation-enter::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 16px;
    bottom: 0;
    right: 6px;
    width: 18px;
    height: 18px;
    background-image: url("../img/link-user/enter.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.site-navigation-cart::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 16px;
    bottom: 0;
    right: 6px;
    width: 18px;
    height: 18px;
    background-image: url("../img/link-user/cart.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-full-cart {
    background-color: #fcfcfc;
}

.navigation-full-cart::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 16px;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/link-user/full-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.site-navigation-enter:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.site-navigation-enter:focus {
    outline-style: none;
    border: 2px solid #2d3440;

}

.site-navigation-enter:active {
    background-color: #fcfcfc;
    border: 2px solid #fcfcfc;
}

.site-navigation-cart:hover {
    background-color: rgba(252, 252, 252, 0.5);
}

.site-navigation-cart:focus {
    outline-style: none;
    border: 2px solid #2d3440;
}

.site-navigation-cart:active {
    background-color: #fcfcfc;
    border: 2px solid #fcfcfc;
}

/* * main */

.container {
    width: 1170px;
    margin: 0 auto;
}

.page-main {
    padding-top: 21px;
}

.main-inner {
    padding-top: 32px;
    padding-bottom: 40px;
}

/* .promo {} */

.promo {
    margin-bottom: 106px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1f auto;
    grid-column: 30px;
}

.promo-descr {
    grid-column: 1 / span 6;
    z-index: 1;
    padding-left: 70px;
    padding-top: 136px;
}

.slider-contents {
    grid-column: 7 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.promo-title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
}

.promo-text {
    margin: 0;
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.slider-controls {
    grid-column: 1 / span 6;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    min-width: 52px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.slider-controls li:not(:last-child){
    margin-right: 8px;
}

.slider-controls-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border-style: none;
    background-color: rgba(252, 252, 252, 0.3);
    box-sizing: border-box;
}

.slider-controls-button-active {
    background-color: #fcfcfc;
}

.slider-controls-button:focus {
    outline-style: none;
    padding: 0;
    border: 1px solid #2d3440;
}

.slider-controls-button:hover {
    padding: 0;
    border: 1px solid #fcfcfc;
}

/* .slider-controls-button:focus,
.slider-controls-button:active,
.slider-controls-button:hover {
    background-color: #fcfcfc;
} */

.promo .social-links {
    grid-column: 7 / -1;
    justify-self: end;
}

.presents {
    margin-bottom: 80px;
}

.presents-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.presents-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 0 40px 40px;
    width: 570px;
}

.presents-item:first-of-type {
    background-image: url('../img/presents/raspberries.png');
    background-repeat: no-repeat;
    background-position: bottom right 15px;
}

.presents-item:last-of-type {
    background-image: url('../img/presents/marshmallows.png');
    background-repeat: no-repeat;
    background-position: bottom right 7px;
}

.presents-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
}

.presents-item {
    background-color: #ff7799;
    border-radius: 16px;
}

.presents-item-caption {

    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.presents-item-description {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
}

.presents-item a {
    grid-column: 1 / span 4;
    grid-row: 4;
}

.presents-item img {

}


/* .catalog {} */

.catalog {
    margin-bottom: 80px;
}

.catalog-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
    list-style-type: none;
}

.catalog-item {
    position: relative;
    width: 270px;
    margin-top: 51px;
}


.catalog-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
}

.catalog-img {
    position: absolute;
    top: -51px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.catalog-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133px 40px 24px 40px;
    background-color: #fcfcfc;
    border-radius: 8px;
}

.catalog-item-caption {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
}

.catalog-item-description {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 20px;
    color: #565C66;
    font-weight: 400;
    text-align: center;
}

.catalog-item-price {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.catalog-item-cart {
    align-self: end;
}

.features {
    background-color: #efe3cb;
    background-image: url("../img/features/wafer.png");
    background-repeat: no-repeat;
    background-color: 100% auto;
    object-fit: cover;
    padding: 24px;
    border-radius: 16px;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.features-content {
    padding: 56px 40px 56px 40px;
    background-color: #fcfcfc;
    border-radius: 16px;
}

.features-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features-item {
    position: relative;
    width: 506px;
}

.ice-cream::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    background-image: url("../img/features/ice-cream.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cow::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    background-image: url("../img/features/cow.png");
    background-repeat: no-repeat;
}
.leaf::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    background-image: url("../img/features/leaf.png");
    background-repeat: no-repeat;
}

.thermometer::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    background-image: url("../img/features/thermometer.png");
    background-repeat: no-repeat;
}

.features-title {
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
}

.features-text {
    margin: 0;
    padding-left: 64px;
    font-weight: 400;
    color: #565C66;
}

/* index-columns */

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.news {
    display: flex;
    flex-direction: column;
    width: 570px;
    background-color: #ffffff;
    background-image: url("../img/article.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    border-radius: 16px;
}

.news h2 {
    order: 1;
    margin: 0;
    padding-left: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.news p {
    margin: 0;
    padding-left: 32px;
    padding-top: 32px;
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
}

.mailing {
    width: 570px;
    background-color: #ffffff;
    background-image: url("../img/mailing.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    padding: 6px;
    border-radius: 16px;
}


.mailing-content {
    padding: 26px;
    background-color: #fcfcfc;
    border-radius: 16px;
}

.mailing-text {
    margin: 0;
    margin-bottom: 42px;
    font-weight: 400;
    color: #565C66;
}

.mailing-form {
    display: grid;
    grid-template-columns: 332px auto;
    column-gap: 24px;
}

.mailing-email:hover {
    cursor: pointer;
    color: #2d3440;
    border: 1px solid #2d3440;
}

.mailing-email:focus {
    border: 2px solid #2d3440;
}

.mailing-form button {
    justify-self: end;
}

.mailing-form-email {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.mailing-email {
    padding: 14px 16px 14px 16px;
    font-weight: 400;
    color: #b9b9b9;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
    border-radius: 4px;
}

.feedback {
    margin-bottom: 80px;
    background-image: url("../img/feedback.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    object-fit: cover;
    border-radius: 16px;
}

.feedback-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    grid-template-rows: repeat(2, auto);
    padding: 64px 0;
}

.feedback-title {
    grid-column: 2 / 6;
    align-self: end;
    margin: 0;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 900;
    line-height: 46px;
}

.feedback-text {
    grid-column: 2 / 6;
    margin: 0;
    font-weight: 400;
    color: #565C66;
}

.feedback-form {
    grid-column: 7 / -1;
    grid-row: 1 / -1;
    margin-left: 6px;
    display: grid;
    grid-template-columns: 117px 287px;
    gap: 20px 16px;
    width: 500px;
    padding: 40px 40px 42px 40px;
    box-sizing: border-box;
    background-color: #fcfcfc;
    box-shadow: 0px 15px 40px 0px rgba(45, 52, 64, 0.12);
;
    border-radius: 8px;
}

.feedback-form-text {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    color: #565C66;
}

.field-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: none;
}

.field-group input {
    display: inline-block;
    padding: 14px 16px;
    border-radius: 4px;
    color: #2d3440;
    border: 1px solid #b9b9b9;
    box-sizing: border-box;
}

.field-group input:hover {
    cursor: pointer;
    color: #2d3440;
    border: 1px solid #2d3440;
}

.field-group input:focus {
    border: 2px solid #2d3440;
}


.feedback-form-phone {
    box-sizing: border-box;
}

.feedback-form-address {
    grid-column: 1 / -1;
}

.feedback-label {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 20px;
}

.feedback-label-icon {
    position: relative;
    display: block;
    padding-right: 16px;
    margin-bottom: 8px;
}

.info {
    position: absolute;
    width: 14px;
    height: 14px;
    margin-top: 5px;
    margin-left: 4px;
    padding: 0;
    background-color: transparent;
    border-style: none;
    background-image: url("../img/Info.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.button-feedback {
    grid-column: 1 / -1;
    margin: 0 auto;
    align-self: end;
}

.contacts {
    padding-top: 64px;
    padding-left: 64px;
    padding-bottom: 64px;
    background-image: url("../img/contacts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.contacts-content {
    width: 343px;
    box-sizing: border-box;
    padding: 40px;
    background: #fcfcfc;
    box-shadow: 0px 8px 16px 0px #2d34401F;
    border-radius: 8px;
}

.contacts-content dl {
    margin: 0;
    margin-bottom: 32px;
}

.contacts-dt {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 400;
    color: #565C66;

}

.contacts-dd {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.contacts-dd address {
    margin-bottom: 24px;
    font-style: normal;
}

.contacts-dd a {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: none;
    color: inherit;
}

.contacts-dd span {
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #565C66;
}


/* .page-footer {} */

.footer-container {
    padding: 48px 0;
    display: flex;
}

.certificates {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, min-content);
    gap: 8px 24px;
    line-height: 20px;
}

.certificates-title {
    position: relative;
    margin: 0;
    font-size: 14px;
}

.certificates-title b {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    padding-left: 24px;
}

.certificates-title b::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 3px;
    left: 1px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.certificates-text {
    margin: 0;
    font-size: 14px;
}

.certificates-text:nth-child(2n-1) {
    padding-left: 24px;
}

.social-links-footer {
    margin-right: auto;
}

.creator {
    margin-left: auto;
    /* width: 193px; */
    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 14px;
}

.creator-link {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
}

.logo-htmlacademy {
    line-height: 0;
}

.htmlacademy-link {
    margin: 0;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #2d3440;
}


/* * Страница Каталога */

.catalog-columns {
    display: flex;
    flex-direction: column;
}

.title-creamy {
    margin: 0;
    margin-bottom: 40px;
}

.breadcrumbs-header {
    display: flex;
    flex-direction: column;
}

.breadcrumbs-header h1 {
    margin: 0;
    margin-bottom: 40px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    width: 250px;
    order: -1;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.breadcrumbs-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    color: #2d3440;
}

.breadcrumbs-item a {
    border-bottom: 1px solid #2d3440;
}

.filters {
    margin: 0;
    margin-bottom: 48px;
    width: 807px;
}

.filters-form-group {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: rgba(252, 252, 252, 0.3);
    border-radius: 20px;
}

.filters-sort {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #2d3440;
}

.catalog-card {
    margin-bottom: 16px;
}

.pagination {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 41px 0;
}

.pagination-list {
    width: 202px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    margin-left: 290px;
    padding: 0;
    list-style-type: none;
}

.pagination-prev {
    margin-right: 16px;
}

.pagination-next{
    margin-left: 16px;
}

.pagination-item {
    min-width: 24px;
    min-height: 24px;
    text-align: center;
}

.pagination-link {
    display: block;
    color: inherit;
    font-size: inherit;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.pagination-active {
    background-color: #fcfcfc;
    border-radius: 50%;
}
