

.news {
    background-image: url("../img/article.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    object-fit: contain;
}

.feedback {
    background-image: url("../img/feedback.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    object-fit: contain;
}

.contacts {
    background-image: url("../img/contacts.jpg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    object-fit: contain;
}
